* {
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration:none;
    box-sizing:content-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Botones de todo el landing */
.button {
    background-color:#8B48BF;
    color:#FFFFFF;
    border-radius:50px;
    border:none;
    padding:10px 20px;
    font-size:13px;
}

.button:hover {
    background-color:#3CDDF3;
    cursor:pointer;
}

.shadow {
    box-shadow: 0px 12px 20px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -10px rgba(0, 0, 0, 0.5);
}
/* terminan estilo botones */

/* Comienza sección header */
.header {
    display:flex;
    justify-content:space-around;
    padding:65px;
}

.logo {
   width:108px;
}

.header__menu {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:28px;
}

.icon_menu {
    display:none;
}

.header__menu a {
    color:#242E52;
    font-size:13px;
}


.header__menu a:hover {
    font-weight:bold;
}


.hero__section_slide {
    display: flex;
    height:260px;
    width:80%;
    margin:auto;
    padding:50px;
}
/* termina sección header */

/* comienza sección de contenido principal */
.slide__div_img {
    width:50%;
    background-image:url('../img/padel-intro.png');
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
}

.slide__div_content {
    width:50%;
    display:flex;
    flex-direction:column;
    text-align:right;
    gap:10px;
    align-items:flex-end;
    justify-content:space-around;
}

.slide__h2 {
    font-size:50px;
    font-weight:bold;
}

.slide__p {
    font-size:16px;
    line-height:1.2;
    font-weight:400;
}

.hero__section_middle {
    background-color:#8B48BF;
    color:#FFFFFF;
    padding:40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.h3_question {
    font-size:36px;
    font-weight:bold;
    width:50%;
    max-width:450px;
}

.p_response {
    font-size:16px;
    font-weight:normal;
    width:50%;
    max-width:450px;
    line-height:1.5;
}

.hero__section_cards {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    gap:50px;
    padding-top:40px;
    padding-bottom:40px;
    background-color:#FAFAFA;
}

.card_wrap {
    width:553px;
    height:158px;
    font-size:16px;
    counter-increment: contador;
}

.card_title::before {
    content: counter(contador, decimal-leading-zero);
    background-color:#8B48BF;
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    border-radius:50px;
    padding:7px 20px;
    margin-right:10px;
    float:left;
}

.hero__section_best {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    margin-bottom:100px;
}

.card_p {
    margin-top:10px;
    display:flex;
    color:#B3B2B7;
    font-size:16px;
    line-height:1.5;
    font-weight:200;
}

.title_best {
    font-size: 39px;
    font-weight:bold;
    margin-top:50px;
}

.best__div_cards {
    display:flex;
    justify-content:space-around;
    gap:5px;
}


.card {
    height:254px;
    width:445px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    padding-top:-50px;
    padding:0px 20px;
    background-color:#FAFAFA;
}

.card__text {
    color:#B9B9C1;
    font-size:16px;
    font-weight:medium;
    text-align:center;
}
/* termina sección de contenido principal */

/* comienza sección footer */
.footer {
    display:flex;
    flex-direction:column;
    bottom:0px;
    width:100%;
}


.footer_purple {
    background-color:#8B48BF;
    color:#FFFFFF;
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:224px;
}

.footer__h4 {
    font-size:40px;
    font-weight:bold;
    width:30%;
}

.footer__button {
    color:#8B48BF;
    background-color:#FFFFFF;
    padding:10px 20px;
    border-radius:50px;
    border:none;
    font-size:13px;
}

.footer__button:hover {
    background-color:#3CDDF3;
    cursor:pointer;
    color:#FFFFFF;
}

.footer_options {
    display:flex;
    background-color:#1E1E26;
    justify-content:space-around;
    height:247px;
    align-items:center;
    position:relative;
}

.footer__social {
    display:flex;
    gap:5px;
}

.footer__menu_navegacion li, .footer__menu_otros li {
    padding:8px;
}


.footer__menu_navegacion a {
    color:#FFFFFF;
}

.footer__menu_otros a {
    color:#FFFFFF;
}

.footer__div_menus {
    display:flex;
    flex-direction:row;
    width:30%;
    justify-content:space-between;
}

.footer__div_redes {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:space-around;
    height:150px;
}

.input_go {
    border-radius:50px;
    padding:10px 20px;
    border:none;
}

.copyright {
    color:#8C8C94;
    font-size:12.5px;
    font-weight:normal;
    position:absolute;
    bottom:20px;
    right:50px;
}
/* termina sección footer */

/* diseño responsivo */
@media (max-width:767px){

    .header {
        justify-content:space-between;
    }

    .header__menu, .button_contact {
        display:none;
    }

    .hero__section_slide {
        flex-direction:column;
        height:auto;
    }

    .icon_menu {
        display:block;
        width:30px;
        cursor:pointer;
    }

    .icon_menu {
        display:block;
    }

    .slide__div_img {
        width:100%;
        height:350px;
        margin-bottom:100px;
    }

    .slide__div_content {
        width:100%;
        gap:28px;
    }

    .hero__section_middle {
        flex-direction:column;
        background-color:#3CDDF3;
        gap:50px;
        align-items:center;
    }
    
    .h3_question, .p_response {
        width:90%;
    }

    .best__div_cards {
        flex-direction:column;
    }

    .card_title::before {
        float:none;
        left:-20px;
        position:relative;
    }
    
    .card_title {
        background-color:rgba(139,72,191,0.3);
        background-opacity:0.3;
        padding:7px;
        margin-bottom:21px;
        position:relative;
        left:30px;
    }

    .card_p {
        width:90%;
        margin:auto;
    }

    .footer_purple {
        flex-direction:column;
        height:auto;
        background-color:#3CDDF3;
        padding:15px;
    }

    .footer__h4 {
        margin:auto;
        margin-top:40px;
        margin-bottom:50px;
        width:90%;
    }

    .footer_purple button {
        margin-bottom:40px;
    }

    .footer_options {
        gap:25px;
    }

    .footer__button {
        background-color:#232C50;
        color:#FFFFFF;
    }

    .footer_options {
        flex-direction:column-reverse;
        height:auto;
        padding:30px;
    }

    .footer__div_menus {
        display:flex;
        width:100%;
        justify-content:space-around;
    }

    . {
        width:100%;
        align-items:center;
    }

    .footer__social {
        width:100%;
        justify-content:space-around;
    }

    .copyright {
        order:-1;
        position:static;

    }
}